form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="submit"] {
    margin-top: 20px;
}
