/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.movie-card {
  text-decoration: none;
  color: inherit;
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
  max-width: 300px;
  text-align: center;
  background: #b2b6b9;

}

.movie-img {
  width: 200px;
  height: 260px;
  object-fit: scale-down;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  padding: 16px;
}

.movie-list-container {
  background: #d8dbdc;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f8f9fa;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  background: #222425;
  border: 1px solid black;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.navlink {
  color: #f3f4f5;
}

.navbar li {
  text-decoration: none;
}

.search-container {
  text-align: center;
}